body {
  background-color: #f5f7fa;
  font-family: 'Prospectus';
  color: #12263f; }

.text_container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 24px; }

.toc {
  margin-bottom: 64px; }

li {
  margin: 12px 0px; }

a {
  color: black; }

a:hover {
  color: gray; }

h1,
h2,
h3 {
  font-family: 'ProspectusBold'; }

h4 {
  font-family: ProspectusThin; }

@font-face {
  font-family: Prospectus;
  src: url("./fonts/ProspectusStdReg.otf") format("opentype"); }

@font-face {
  font-family: ProspectusBold;
  src: url("./fonts/ProspectusStdBld.otf") format("opentype"); }

@font-face {
  font-family: ProspectusBlock;
  src: url("./fonts/ProspectusStdBlk.otf") format("opentype"); }

@font-face {
  font-family: ProspectusLight;
  src: url("./fonts/ProspectusStdLt.otf") format("opentype"); }

@font-face {
  font-family: ProspectusThin;
  src: url("./fonts/ProspectusStdThn.otf") format("opentype"); }

@media screen and (max-width: 599px) {
  .text_container {
    padding: 32px; }
  p {
    font-size: 18px; } }
